<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.vr.headtracking" android:required="true" />
    <uses-feature android:glEsVersion="0x00030001" android:required="true" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
        android:largeHeap="true">

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Material.NoActionBar"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
            <meta-data
                android:name="pico.vr.position"
                android:value="far"/>
            <meta-data
                android:name="pico.vr.theme"
                android:value="NoCaptionBar"/>
            <meta-data
                android:name="pvr.vrshell.mode"
                android:value="1"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PicoALVRActivity"
            android:exported="true"
            android:process=":streaming"
            android:excludeFromRecents="true"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard|navigation"
            android:screenOrientation="landscape">
            <meta-data android:name="pvr.app.type" android:value="vr" />
            <meta-data android:name="pvr.app.orientation" android:value="180" />
            <meta-data
                android:name="pico.vr.theme"
                android:value="NoCaptionBar"/>
        </activity>
    </application>

</manifest>
